.red {color: #d26a5c;}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.text-middle {
    vertical-align: middle !important;
}

.place-holder {
    width:100px; 
    height:100px; 
    border:1px solid #aeaeae; 
    text-align:center;
}

.sidebar-mini-hide {
    color: #aaa;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px 0;
    display: block;
}
.sidebar .nav-second-level li a {
    padding-left: 35px;
}
.sidebar .nav-second-level li ul li a {
    padding-left: 57px;
}

/*Calendar Page*/
.calendar tbody tr.calendar-row {height:80px;}
.calendar .day-number {text-align:right;}
.calendar td,
.calendar th {padding: 5px; cursor:pointer;}